* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s; /*nos hace las transiciones mas relajadas*/
}

body {
  background: blue;

  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #000046, #1cb5e0);
  min-height: 100vh;
}

/* IMAGEN DE CABECERA */

body > header {
  padding: 1rem;
}
body > header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
body > header > a > img {
  display: flex;
  align-items: center;
  height: 150px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 20px;
}

/* MAIN */
.contenedor {
  width: 98vw;
  height: auto;
  padding: 2% 0;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.question {
  background: white;
  font-family: fantasy;
  font-size: large;
  font-style: oblique;
  color: rgb(36, 34, 34);
  padding: 40px;
  min-width: 300px;
  width: 80%;
  border-radius: 10px;
}

.question:hover {
  border-radius: 150px;
  transition: all 3s;
}

.answers {
  position: relative;
  width: 80%;
  padding: 5px;
  font-family: serif;
  font-style: italic;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

li {
  background: rgb(218, 197, 197);
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  list-style: none;
  margin-top: 3px;
}

/*li + li {
  margin-top: 3px;
}*/

li:hover {
  background: green;
  cursor: pointer;
  transform: scale(1.04);
}

button:hover {
  background-color: red;
  cursor: help;
}

/* FOOTER */
footer {
  background-color: rgb(5, 5, 63);
  color: white;
  width: 100%;
  margin-top: auto;
  text-align: center;
  position: relative;
}

/**######################
 * ## Min. width 700px ## // TABLET
 * ######################*/
@media (min-width: 700px) {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.6rem;
    justify-content: space-around;
  }
  li {
    width: 48%;
  }

  .contenedor {
    width: 100%;
    padding: 0% 1vw;
  }
}

/**#######################
 * ## Min. width 1200px ##
 * #######################*/
@media (min-width: 1200px) {
  li {
    width: 48%;
  }
}

/*
.correct {
  background-color: aqua;
}

.incorrect {
  background-color: red;
}
*/
